<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Instituts</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Instituts</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a  class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_holiday"><i
                        class="fa fa-plus"></i> Add institut</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th style="width: 30px;">Id</th>
                            <th>Institut</th>
                            <th>Description</th>
                            <th>Adress</th>
                            <th>Email</th>
                            <th>NumTel</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="holiday-completed" *ngFor="let i of instituts">
                            <td>{{i.id}}</td>
                            <td>{{i.institut}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.adresse}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.numTel}}</td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-bs-toggle="modal"
                                            data-bs-target="#edit_holiday" (click)="edit(i.id)"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-bs-toggle="modal"
                                            data-bs-target="#delete_holiday" (click)="tempId = i.id"><i
                                                class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Holiday Modal -->
<div class="modal custom-modal fade" id="add_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter institut</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addholidays()" [formGroup]="addHolidayForm">
                    <div class="form-group">
                        <label>Nom de l'institut <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addHolidayForm.get('Institut').invalid && addHolidayForm.get('Institut').touched"
                            formControlName="Institut">
                        <div
                            *ngIf="addHolidayForm.get('Institut').invalid && addHolidayForm.get('Institut').touched">
                            <small
                                *ngIf="addHolidayForm.get('Institut').invalid && addHolidayForm.get('Institut').touched"
                                class="text-danger"> *institut is required</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Adresse<span class="text-danger">*</span></label>
                        <textarea class="form-control" type="text"
                        [class.invalid]="addHolidayForm.get('Adress').invalid && addHolidayForm.get('Adress').touched"
                        formControlName="Adress"></textarea>

                    </div>
                
                    <div class="form-group">
                        <label>Numéro de téléphone</label>
                        <textarea class="form-control" type="text"
                            [class.invalid]="addHolidayForm.get('NumTel').invalid && addHolidayForm.get('NumTel').touched"
                            formControlName="NumTel"></textarea>
 
                     </div>
                     <div class="form-group">
                        <label>Email<span class="text-danger">*</span></label>
                            <textarea class=form-control formControlName="Email">
                            </textarea>
                    </div>
                     <div class="form-group">
                        <label> Description <span class="text-danger">*</span></label>
                            <textarea class=form-control formControlName="Description">
                            </textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Holiday Modal -->


<!-- Edit Holiday Modal -->
<div class="modal custom-modal fade" id="edit_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit institut</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editHolidays()" [formGroup]="editHolidayForm">
                    <div class="form-group">
                        <label> Institut <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editHolidayForm.get('editInstitut').invalid && editHolidayForm.get('editInstitut').touched"
                            formControlName="editInstitut">
                        <div
                            *ngIf="editHolidayForm.get('editInstitut').invalid && editHolidayForm.get('editInstitut').touched">
                            <small
                                *ngIf="editHolidayForm.get('editInstitut').invalid && editHolidayForm.get('editInstitut').touched"
                                class="text-danger"> *Name is required</small>
                        </div>

                    </div>
                    
                    <div class="form-group">
                        <label>Adresse <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editHolidayForm.get('editAdress').invalid && editHolidayForm.get('editAdress').touched"
                            formControlName="editAdress">
                        <div
                            *ngIf="editHolidayForm.get('editAdress').invalid && editHolidayForm.get('editAdress').touched">
                            <small
                                *ngIf="editHolidayForm.get('editAdress').invalid && editHolidayForm.get('editAdress').touched"
                                class="text-danger"> *Adress is required</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Email<span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editHolidayForm.get('editEmail').invalid && editHolidayForm.get('editEmail').touched"
                            formControlName="editEmail">
                        <div
                            *ngIf="editHolidayForm.get('editEmail').invalid && editHolidayForm.get('editEmail').touched">
                            <small
                                *ngIf="editHolidayForm.get('editEmail').invalid && editHolidayForm.get('editEmail').touched"
                                class="text-danger"> *Email is required</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>NumTel<span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editHolidayForm.get('editNumTel').invalid && editHolidayForm.get('editNumTel').touched"
                            formControlName="editNumTel">
                        <div
                            *ngIf="editHolidayForm.get('editNumTel').invalid && editHolidayForm.get('editNumTel').touched">
                            <small
                                *ngIf="editHolidayForm.get('editNumTel').invalid && editHolidayForm.get('editNumTel').touched"
                                class="text-danger"> *NumTel is required</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Description<span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editHolidayForm.get('editDescription').invalid && editHolidayForm.get('editDescription').touched"
                            formControlName="editDescription">
                        <div
                            *ngIf="editHolidayForm.get('editDescription').invalid && editHolidayForm.get('editDescription').touched">
                            <small
                                *ngIf="editHolidayForm.get('editDescription').invalid && editHolidayForm.get('editDescription').touched"
                                class="text-danger"> *Description is required</small>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Holiday Modal -->

<!-- Delete Holiday Modal -->
<div class="modal custom-modal fade" id="delete_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Institut</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deleteHolidays()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Holiday Modal -->