<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome Admin!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
 <div hidden *ngFor="let e of totalEmployees1" >
{{e}}
 </div>


    <div class="row">
        
       
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="la la-object-ungroup"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{directions?.length}}</h3>
                        <span>Directions</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{poles?.length}}</h3>
                        <span>Poles</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{employees?.length}}</h3>
                        <span>Employees</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Total Revenue</h3>
                            <div mk-morris-js [options]="chartOptions" [data]="chartData" type="Bar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Statistics Widget -->
    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="card flex-fill dash-statistics">
                <div class="card-body">
                    <h5 class="card-title">Statistics</h5>
                    <div class="stats-list">
                        <div class="stats-info">
                            <p>Nombre des salariés (Homme) <strong>{{salariesHomme?.length}} <small>/ {{employees?.length}}</small></strong></p>
                            <div class="progress" >
                                <div class="progress-bar bg-primary" role="progressbar" [style.width]="pourcentageHomme+'%'"
                                [attr.aria-valuenow]="salariesHomme?.length" aria-valuemin="0" [attr.aria-valuemax]="employees?.length"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>Nombre des salariées (Femme) <strong>{{salariesFemme?.length}} <small>/ {{employees?.length}}</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" [style.width]="pourcentageFemme+'%'"
                                [attr.aria-valuenow]="salariesFemme?.length" aria-valuemin="0" [attr.aria-valuemax]="employees?.length"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>Nombre des salariées (Mariés) <strong>{{salariesMarie?.length}} <small>/ {{employees?.length}}</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" [style.width]="pourcentageMarie+'%'"
                                [attr.aria-valuenow]="salariesMarie?.length" aria-valuemin="0" [attr.aria-valuemax]="employees?.length"></div>
                            </div>
                        </div>
                        
                        <div class="stats-info">
                            <p>Nombre des salariées (Célibataires) <strong>{{salariesCelibataire?.length}} <small>/ {{employees?.length}}</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" [style.width]="pourcentageCelibataire+'%'"
                                [attr.aria-valuenow]="salariesCelibataire?.length" aria-valuemin="0" [attr.aria-valuemax]="employees?.length"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <h4 class="card-title">Seniorité</h4>
                    <div>
                        <p><i class="fa fa-dot-circle-o text-warning me-2"></i>Amateur <span
                                class="float-end">{{amateursEmp.length}}</span></p>
                        <p><i class="fa fa-dot-circle-o text-success me-2"></i>Junior 1 <span
                                class="float-end">{{junior1Emp.length}}</span></p>
                        <p><i class="fa fa-dot-circle-o text-success me-2"></i>Junior 2 <span
                                class="float-end">{{junior2Emp.length}}</span></p>
                        <p><i class="fa fa-dot-circle-o text-info me-2"></i>Confirmé <span
                                class="float-end">{{confirmeEmp.length}}</span></p>
                                
                                <p><i class="fa fa-dot-circle-o text-danger me-2"></i>Senior 1 <span
                                    class="float-end">{{senior1Emp.length}}</span></p>   
                                    
                                    <p><i class="fa fa-dot-circle-o text-danger me-2"></i>Senior 2 <span
                                        class="float-end">{{senior2Emp.length}}</span></p>

                                        <p><i class="fa fa-dot-circle-o text-danger me-2"></i>Senior 3 <span
                                            class="float-end">{{senior3Emp.length}}</span></p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <!-- /Statistics Widget -->

    

</div>
<!-- /Page Content -->