<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <perfect-scrollbar [scrollIndicators]="false">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul *ngIf="sidebarMenus.default">
          <li class="menu-title">
            <span>Main</span>
          </li>
          <li [ngClass]="{ active: urlComplete.subUrl === 'admin'||
          urlComplete.subUrl === 'admin' }">
            <a routerLink="/layout/dashboard/admin"
              ><i class="la la-dashboard"></i> <span>Dashbord</span></a
            >
          </li>

          <li class="menu-title">
            <span>Employees</span>
          </li>

          <li [ngClass]="{ active: urlComplete.subUrl === 'employeepage'||
          urlComplete.subUrl === 'employeelist'||
          urlComplete.subUrl === 'employeeprofile'}">
            <a routerLink="/layout/employees/employeepage"
              ><i class="la la-user"></i> <span>All Employees</span></a
            >
          </li>



          <li
            class="submenu"
            [ngClass]="{
              active:
                urlComplete.mainUrl === 'leadscontent' ||
                urlComplete.subUrl === 'leadscontent'
            }"
          >
            <a
              href="javascript:"
              [ngClass]="{
                subdrop:
                  urlComplete.mainUrl === 'leadscontent' ||
                  urlComplete.subUrl === 'leadscontent' 
              }"
              href="javascript:"
              ><i class="la la-user-secret"></i> <span> Responsables</span>
              <span class="menu-arrow"></span
            ></a>
            <ul
              style="display: none"
              [ngStyle]="{
                display:
                  urlComplete.mainUrl === 'leadscontent' ||
                  urlComplete.subUrl === 'leadscontent'
                    ? 'block'
                    : 'none'
              }"
            >
              <li routerLink="/layout/leads/leadscontent">
                <a
                  href="javascript:"
                  [ngClass]="{
                    active:
                      urlComplete.subUrl === 'leadscontent' ||
                      urlComplete.subUrl === 'leadscontent'
                  }"
                  >Responsable Poles</a
                >
              </li>
              <li routerLink="/layout/leads/leadscontent">
                <a
                  href="javascript:"
                  [ngClass]="{
                    active:
                      urlComplete.subUrl === 'leadscontent' ||
                      urlComplete.subUrl === 'leadscontent'
                  }"
                  >Responsable Directions</a
                >
              </li>
             
            </ul>
          </li>




          <li [ngClass]="{ active:  urlComplete.mainUrl === 'projects' ||
          urlComplete.subUrl === 'projectlist' ||
          urlComplete.subUrl === 'projectview' }">
            <a routerLink="/layout/projects/projectpage"
              ><i class="la la-rocket"></i> <span>Projects</span></a
            >
          </li>
          
          
         
          <li class="menu-title">
            <span>Administration</span>
          </li>
          <li [ngClass]="{ active: urlComplete.subUrl === 'departments' }">
            <a routerLink="/layout/employees/departments"
              ><i class="la la-object-ungroup"></i> <span>Directions</span></a
            >
          </li>
          <li [ngClass]="{ active: urlComplete.subUrl === 'designation' }">
            <a routerLink="/layout/employees/designation"
              ><i class="la la-object-ungroup"></i> <span>Poles</span></a
            >
          </li>
          <li [ngClass]="{ active: urlComplete.subUrl === 'manage-jobs' ||
                            urlComplete.subUrl === 'job-details' }">
            <a routerLink="/layout/jobs/manage-jobs"
              ><i class="la la-briefcase"></i> <span>Postes</span></a
            >
          </li>

          <li class="menu-title">
            <span>Performance</span>
          </li>
          
          <li
            class="submenu"
            [ngClass]="{ active: urlComplete.mainUrl === 'goals' }"
          >
            <a
              href="javascript:"
              [ngClass]="{ subdrop: urlComplete.mainUrl === 'goals' }"
              ><i class="la la-crosshairs"></i> <span> Formation </span>
              <span class="menu-arrow"></span
            ></a>
            <ul
              style="display: none"
              [ngStyle]="{
                display: urlComplete.mainUrl === 'goals' ? 'block' : 'none'
              }"
            >
              <li routerLink="/layout/training/traininglist">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'traininglist' }"
                >
                  Diplome
                </a>
              </li>
              <li routerLink="/layout/employees/holidays">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'holidays' }"
                >
                  Institut
                </a>
              </li>
              <li routerLink="/layout/goals/goallist">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'goallist' }"
                >
                  Certificat
                </a>
              </li>
              <li routerLink="/layout/employees/leavesettings">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'leavesettings' }"
                >
                  Centre de Formation
                </a>
              </li>
            </ul>
            
          </li>
          <li
            class="submenu"
            [ngClass]="{ active: urlComplete.mainUrl === 'training' }"
          >
            <a
              href="javascript:"
              [ngClass]="{ subdrop: urlComplete.mainUrl === 'training' }"
              ><i class="la la-edit"></i> <span> Experience </span>
              <span class="menu-arrow"></span
            ></a>
            <ul
              style="display: none"
              [ngStyle]="{
                display: urlComplete.mainUrl === 'training' ? 'block' : 'none'
              }"
            >
              <li routerLink="/layout/employees/adminleaves">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'adminleaves' }"
                >
                  Entreprises
                </a>
              </li>
            </ul>
          </li>
          
         <!-- <li class="menu-title">
            <span>Pages</span>
          </li>
          
          <li
            class="submenu"
            [ngClass]="{ active: urlComplete.mainUrl === 'login' }"
          >
            <a
              href="javascript:"
              [ngClass]="{ subdrop: urlComplete.mainUrl === 'login' }"
              ><i class="la la-key"></i> <span> Authentication </span>
              <span class="menu-arrow"></span
            ></a>
            <ul
              style="display: none"
              [ngStyle]="{
                display: urlComplete.mainUrl === 'login' ? 'block' : 'none'
              }"
            >
              <li routerLink="/login">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'login' }"
                >
                  Login
                </a>
              </li>
              <li routerLink="/login/register">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'register' }"
                >
                  Register
                </a>
              </li>
              <li routerLink="/login/forgot">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'forgot' }"
                >
                  Forgot Password
                </a>
              </li>
              <li routerLink="/login/otp">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'otp' }"
                >
                  OTP
                </a>
              </li>
              <li routerLink="/login/lockscreen">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'lockscreen' }"
                >
                  Lock Screen
                </a>
              </li>
            </ul>
          </li>
          <li
            class="submenu"
            [ngClass]="{ active: urlComplete.mainUrl === 'error' }"
          >
            <a
              href="javascript:"
              [ngClass]="{ subdrop: urlComplete.mainUrl === 'error' }"
              ><i class="la la-exclamation-triangle"></i>
              <span> Error Pages </span> <span class="menu-arrow"></span
            ></a>
            <ul
              style="display: none"
              [ngStyle]="{
                display: urlComplete.mainUrl === 'error' ? 'block' : 'none'
              }"
            >
              <li routerLink="/error/error404">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'error404' }"
                  >404 Error
                </a>
              </li>
              <li routerLink="/error/error500">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'error500' }"
                  >500 Error
                </a>
              </li>
            </ul>
          </li>-->
          <!--
            <li class="menu-title">
            <span>HR</span>
          </li>
          
          <li
            class="submenu"
            [ngClass]="{
              active:
                urlComplete.mainUrl === 'reports' ||
                urlComplete.mainUrl === 'employeereports' ||
                urlComplete.mainUrl === 'payslipreports' ||
                urlComplete.mainUrl === 'projectreports' ||
                urlComplete.mainUrl === 'paymentreports' ||
                urlComplete.mainUrl === 'taskreports' ||
                urlComplete.mainUrl === 'userreports' ||
                urlComplete.mainUrl === 'attendancereports' ||
                urlComplete.mainUrl === 'leavereports' ||
                urlComplete.mainUrl === 'dailyreports'
            }"
          >
            <a
              href="javascript:"
              [ngClass]="{
                subdrop:
                  urlComplete.mainUrl === 'reports' ||
                  urlComplete.mainUrl === 'employeereports' ||
                  urlComplete.mainUrl === 'payslipreports' ||
                  urlComplete.mainUrl === 'projectreports' ||
                  urlComplete.mainUrl === 'paymentreports' ||
                  urlComplete.mainUrl === 'taskreports' ||
                  urlComplete.mainUrl === 'userreports' ||
                  urlComplete.mainUrl === 'attendancereports' ||
                  urlComplete.mainUrl === 'leavereports' ||
                  urlComplete.mainUrl === 'dailyreports'
              }"
              ><i class="la la-pie-chart"></i> <span> Reports </span>
              <span class="menu-arrow"></span
            ></a>
            <ul
              style="display: none"
              [ngStyle]="{
                display:
                  urlComplete.mainUrl === 'reports' ||
                  urlComplete.mainUrl === 'employeereports' ||
                  urlComplete.mainUrl === 'payslipreports' ||
                  urlComplete.mainUrl === 'projectreports' ||
                  urlComplete.mainUrl === 'paymentreports' ||
                  urlComplete.mainUrl === 'taskreports' ||
                  urlComplete.mainUrl === 'userreports' ||
                  urlComplete.mainUrl === 'attendancereports' ||
                  urlComplete.mainUrl === 'leavereports' ||
                  urlComplete.mainUrl === 'dailyreports'
                    ? 'block'
                    : 'none'
              }"
            >
              <li routerLink="/layout/reports/expense-report">
                <a
                  href="javascript:"
                  [ngClass]="{
                    active: urlComplete.subUrl === 'expense-report'
                  }"
                >
                  Expense Report
                </a>
              </li>
              <li routerLink="/layout/dailyreports/daily-reports">
                <a
                  href="javascript:"
                  [ngClass]="{ active: urlComplete.subUrl === 'daily-reports' }"
                >
                  Daily Report
                </a>
              </li>
            </ul>
          </li>
          --> 
        </ul>
    
        <ul *ngIf="sidebarMenus.chat">
          <li routerLink="/layout/dashboard/admin">
            <a href="javascript:"
              ><i class="la la-home"></i> <span>Back to Home</span></a
            >
          </li>
          <li class="menu-title">
            <span>Chat Groups</span>
            <a
              href="javascript:"
              data-bs-toggle="modal"
              data-bs-target="#add_group"
              ><i class="la la-plus"></i
            ></a>
          </li>
          <li>
            <a href="javascript:" *ngFor="let item of groups.total">
              <span class="chat-avatar-sm user-img">
                <img
                  class="rounded-circle"
                  alt=""
                  src="assets/img/profiles/avatar-5.jpg"
                />
              </span>
              <span class="chat-user">#{{ item | titlecase }}</span>
            </a>
          </li>
          <li class="menu-title">
            Direct Chats
            <a data-bs-toggle="modal" data-bs-target="#add_chat_user"
              ><i class="la la-plus"></i
            ></a>
          </li>
          <li
            [ngClass]="{ active: members.active == item.name }"
            (click)="setActive(item.name)"
            *ngFor="let item of members.total"
          >
            <a href="javascript:">
              <span class="chat-avatar-sm user-img">
                <img
                  class="rounded-circle"
                  alt=""
                  src="assets/img/profiles/avatar-5.jpg"
                /><span class="status online"></span>
              </span>
              <span class="chat-user">{{ item.name }}</span>
              <span
                class="badge rounded-pill bg-danger"
                [hidden]="item.count < 1"
                >{{ item.count }}</span
              >
            </a>
          </li>
        </ul>

      
      </div>
    </perfect-scrollbar>
  </div>
</div>
<!-- /Sidebar -->
